<ion-header *ngIf="isIos" >
  <ion-toolbar color="dark">
    <ion-title>
      Material
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="done()">
        <ion-icon color="success" name="checkmark-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header  *ngIf="!isIos" >
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Material
          </ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon color="danger" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="done()">
              <ion-icon color="success" name="checkmark-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card-header>

    <ion-list>
      <span *ngFor="let mtrl of lstMaterial; index as i">
        <ion-item *ngIf="mtrl.bool_is_active && mtrl.bool_ismtrl"  >
          <div class="material">

            <ion-item disabled="true" lines="none" class="left">
              <ion-input type="number">{{mtrl.int_qnt}}</ion-input>
            </ion-item>

            <ion-item disabled="true" lines="none" class="right">
              <ion-input>{{mtrl.str_oname}}</ion-input>
            </ion-item>

            <ion-button 
              color="danger"
              (click)="onRemoveClick(i, mtrl)">
              <ion-icon name="close-sharp"></ion-icon>
            </ion-button>

          </div>
        </ion-item>
      </span>


        <ion-item>
          <div class="material">
            <ion-item lines="none" class="left">
              <ion-label position="floating">Qnt</ion-label>
              <ion-input type="number" [(ngModel)]="qnt" ></ion-input>
            </ion-item>

            <ion-item lines="none" class="right">
              <ion-label position="floating">Material</ion-label>
              <ion-input [(ngModel)]="material"></ion-input>
            </ion-item>
            <ion-button 
              (click)="onAddClick()"
              color="success">
              <ion-icon name="add-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
    </ion-list>

  </ion-card>



</ion-content>
