<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m_pedido"></ion-menu-button>
    </ion-buttons>

    <!-- FOR GATES SECTION -->
    <ion-title *ngIf="curMode === 0">Selecione o Portão</ion-title>

    <!-- FOR IO -->
    <ion-searchbar  *ngIf="curMode === 1" 
      placeholder="Nome ou Codigo do visitante"
      type = "text"
      (ionChange)="onSearchChange($event)"
      debounce="500">
    </ion-searchbar>

    <!--IT WAS ASKED TO HIDE-->
    <!--<ion-buttons *ngIf="curMode === 1" slot="end">
      <ion-button [disabled]="isLoading"  routerLink='/gatekeeper/io/1' routerLinkActive="activeRouter">
        <ion-icon  slot="icon-only" name="enter"></ion-icon>
      </ion-button>
      <ion-button [disabled]="isLoading" routerLink='/gatekeeper/io/0' routerLinkActive="activeRouter">
        <ion-icon  slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>-->

    <!-- FOR PS -->
    <ion-title *ngIf="curMode === 2" >Servicos Publicos</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
