<ion-content *ngIf="visitorObj"  color="dark">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title >
        {{visitorObj.sv_code}}
      </ion-title>

      <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
          <ion-icon color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons color="success" slot="end">
        <ion-button *ngIf="!isNotifying && !visitorObj.sv_is_ps ; else notNotifying" (click)="notify()">
          <ion-icon color="light" name="notifications"></ion-icon>
        </ion-button>
      
        <ng-template #notNotifying>
          <ion-button>
            <ion-icon color="light" name="notifications-off"></ion-icon>
          </ion-button>
        </ng-template>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-card >

    <ion-card-header *ngIf="isEntrance">

      <!-- SHOW PERIODO -->
      <ion-card color="dark" *ngIf="!isPeriodo_rule" >
        <ion-card-title color="ligth" class="ion-text-center">
          <ion-icon color="danger" name="alert-outline"></ion-icon>
          PERIODO DE <b>{{visitorObj['sv_period']}} HORAS</b> DA VISITA ESGOTADOS
          <ion-icon color="danger" name="alert-outline"></ion-icon>
        </ion-card-title>
      </ion-card>


      <!-- SHOW ENTRACE -->
      <ion-card color="dark" *ngIf="!isEntrance_rule" >
        <!-- SINGUALR -->
        <ion-card-title color="ligth" *ngIf="!lstObjVisitor.length && !isEntrance_rule" class="ion-text-center"> 
          <ion-icon color="danger" name="alert-outline"></ion-icon>
          O VISITNATE JA ENTROU E SAIU, NÃO PODE VOLTAR A ENTRAR
          <ion-icon color="danger" name="alert-outline"></ion-icon>
        </ion-card-title>

        <!-- COLECTIVO -->
        <ion-card-title color="ligth" *ngIf="lstObjVisitor.length && !isEntrance_rule" class="ion-text-center"> 
          <ion-icon color="danger" name="alert-outline"></ion-icon>
          ALGUNS DOS VISITNATES JA ENTRARAM E SAIRAM, NÃO PODEM VOLTAR A ENTRAR
          <ion-icon color="danger" name="alert-outline"></ion-icon>
        </ion-card-title>
      </ion-card>


      <!-- SHOW INDUCTION -->
      <ion-card color="dark" *ngIf="!isInduction_rule" >
        <!-- SINGUALR -->
        <ion-card-title color="ligth" *ngIf="!lstObjVisitor.length && !isInduction_rule" class="ion-text-center"> 
          <ion-icon color="danger" name="alert-outline"></ion-icon>
          O VISITNATE AINDA NÃO REALIZOU A INDUÇÃO OU REPROVOU!
          <ion-icon color="danger" name="alert-outline"></ion-icon>
        </ion-card-title>

        <!-- COLECTIVO -->
        <ion-card-title color="ligth" *ngIf="lstObjVisitor.length && !isInduction_rule" class="ion-text-center"> 
          <ion-icon color="danger" name="alert-outline"></ion-icon>
          NEM TODOS O VISITNATE REALIZARAM A INDUÇÃO PROFUNDA CONFORME INDICADO 
          <ion-icon color="danger" name="alert-outline"></ion-icon>
        </ion-card-title>
      </ion-card>
    </ion-card-header>

    <ion-card-header>
      <!-- VISIT DATA -->
      <div class="div_status">
        <ion-card-subtitle class="ion-text-center">
          Dados da visita
        </ion-card-subtitle>
      </div>

      <div class="div_visit_info">
        <!-- DATA -->
        <ion-item >
          <ion-label>
            <p>Data e hora: </p>
            <h2>{{visitorObj['sv_visit_dateTime']}}</h2>
          </ion-label>
        </ion-item>

        <!-- GATE -->
        <ion-item >
          <ion-label>
            <p>Portão: </p>
            <h2>{{visitorObj['sv_gate']}}</h2>
          </ion-label>
        </ion-item>

        <!-- TERMINAL -->

        <span>
          <!-- SINGULAR COM SUB COMPANY -->
          <span *ngIf="visitorObj['sv_cod_sub_company'] !== null">
            <ion-item >
              <ion-label>
                <p>Empresa: </p>
                <h2 >{{visitorObj['sv_company']}}</h2>
              </ion-label>
            </ion-item>

            <ion-item >
              <ion-label>
                <p>Terminal: </p>
                <h2 >{{visitorObj['sv_sub_company']}}</h2>
              </ion-label>
            </ion-item>
          </span>
          <!-- SINGULAR SEM SUB COMPANY -->
          <span *ngIf="visitorObj['sv_cod_sub_company'] === null">
            <ion-item >
              <!-- Se for para Terminal/Empresa -->
              <ion-label *ngIf="!visitorObj['sv_is_ps']" >
                <p>Terminal/Empresa: </p>
                <h2 >{{visitorObj['sv_company']}}</h2>
              </ion-label>
              <!-- Se for para serivcos publicos -->
              <ion-label *ngIf="visitorObj['sv_is_ps']" >
                <p>Servicos Publicos: </p>
                <h2 >{{visitorObj['sv_company']}}</h2>
              </ion-label>
            </ion-item>
          </span>
        </span>

        
        <!-- DEPARTAMENTEO -->
        <ion-item *ngIf="!visitorObj['sv_is_ps']" >
          <ion-label>
            <p>Departamento: </p>
            <h2>{{visitorObj['sv_department']}}</h2>
          </ion-label>
        </ion-item>

        <!-- HOST TERMINAL -->
        <ion-item *ngIf="!visitorObj['sv_is_ps']" >
          <ion-label>
            <p>Anfitrião: </p>
            <h2>{{visitorObj['st_host_fname']}} {{visitorObj['st_host_lname']}}</h2>
          </ion-label>
        </ion-item>
      </div>

      
      <!-- VISITANTES DATA-->
      <div class="div_visitor">
        <ion-card-subtitle class="ion-text-center">
          Visitantes/Funcionarios
        </ion-card-subtitle>
      </div>

      <!-- SINGULAR -->
      <ion-item *ngIf="!lstObjVisitor.length">
        <ion-icon *ngIf="!checkInduction(visitorObj) && checkEntrace(visitorObj)" color="danger" name="alert-circle-outline"></ion-icon>
        <ion-label>
          <p>Nome Completo: </p>
          <h2>{{visitorObj['x_fname']}} {{visitorObj['x_lname']}}</h2>
          <p>{{visitorObj['type_id']}} Nº: </p>
          <h2>{{visitorObj['nid']}}</h2>
        </ion-label>
      </ion-item>

      <!-- COLECTIVO -->
      <span *ngIf="lstObjVisitor.length">
        <ion-item-sliding #slidingItem *ngFor="let visitor of lstObjVisitor; let i = index" >
          <ion-item  >
            <ion-icon *ngIf="!checkInduction(visitor) && checkEntrace(visitor)" color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label>
              <p>Nome Completo: </p>
              <h2>{{visitor['x_fname']}} {{visitor['x_lname']}}</h2>
              <p>{{visitor['type_id']}} Nº: </p>
              <h2>{{visitor['nid']}}</h2>
            </ion-label>
          </ion-item>
        <!-- slide left items down here -->
        <!--   -->
          <ion-item-options side='start' *ngIf="((checkInduction(visitor) && checkEntrace(visitor) && isPeriodo_rule && isEntrance_rule && isEntrance && visitor['st_state']===1) || !isEntrance) && lstObjVisitor.length > 1">
            <ion-item-option color="success" (click)="onActionSlideClicked(slidingItem, i,true)">
              <ion-icon slot="icon-only" name="checkmark-sharp"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        <!-- slide right items down here -->
          <ion-item-options side='end'>
            <ion-item-option color="danger"  (click)="onActionSlideClicked(slidingItem, i, false)">
              <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </span>

      <!-- PEDIDO EXTRA -->
      <div class="div_spinner" *ngIf="isGettingMaterial">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <!-- MATERIAL -->
      <div class="div_extra" *ngIf="!isGettingMaterial">
        <div class="div_material" >
          <ion-card-subtitle class="ion-text-center">
            Material
          </ion-card-subtitle>
        </div>
        <ion-list *ngFor="let extra of lstMaterial; let i=index">
          <ion-item>
            <ion-label *ngIf="extra['bool_is_active']">{{extra['str_oname']}}</ion-label>
            <ion-label *ngIf="!extra['bool_is_active']"><s>{{extra['str_oname']}}</s></ion-label>
            <ion-note slot="start">{{extra['int_qnt']}}</ion-note>
          </ion-item>
        </ion-list>
        
        <ion-button 
          *ngIf="isPeriodo_rule && isStatus_rule"
          color="dark" 
          size="small"
          (click)="onMaterialClicked()"
          [disabled]="!isEntrance"
          >
          <ion-icon slot="start" name="pencil-sharp"></ion-icon>
          Material
        </ion-button>
        
        <!-- MATRICULA -->
        <div class="div_matricula" *ngIf="lstMatricula.length > 0" >
          <ion-card-subtitle class="ion-text-center">
            Matricula
          </ion-card-subtitle>
        </div>
        <ion-list *ngFor="let extra of lstMatricula; let i=index">
          <ion-item>
            <ion-label>- {{extra['str_oname']}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      


      <!-- Opcoes -->
      <!--  -->
      <span  >
        <div class="div_buttons" *ngIf="!lstObjVisitor.length" >
          <!--  -->
          <div id="div_btn_accept" *ngIf="isPeriodo_rule && isStatus_rule && isEntrance_rule && isInduction_rule" > 
            <ion-button expand="block" color="success" (click)="onBtnClicked(true)">
              <ion-icon slot="icon-only" name="checkmark-sharp"></ion-icon>
            </ion-button>
          </div>
      
          <div id="div_bnt_refuse">
            <ion-button expand="block" color="danger" (click)="onBtnClicked(false)">
              <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
            </ion-button>
          </div>
        </div>
      

        <div class="div_buttons" *ngIf="lstObjVisitor.length">
          <!-- " -->
          <div id="div_btn_accept"  *ngIf="isPeriodo_rule && isStatus_rule && isEntrance_rule && isInduction_rule"> 
            <ion-button expand="block" color="success" (click)="onBtnClicked(true)">
              <ion-icon slot="icon-only" name="checkmark-done-sharp"></ion-icon>
            </ion-button>
          </div>
      
          <div id="div_bnt_refuse">
            <ion-button expand="block" color="danger" (click)="onBtnClicked(false)">
              <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
            </ion-button>
          </div>
        </div>
      </span>
    </ion-card-header>

  </ion-card>
</ion-content>