ion-content{
    width: 100%;
    height: 100%;
    --background:radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#finishButton {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.div_spinner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.mat_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div_buttons{
    display: flex;
    justify-content: space-between;
}

#div_btn_accept{
    float: left;
    left: 5px;
    width: 20%;
}

#div_bnt_refuse{
    float: right;;
    right: 5px;
    width: 20%;
}
