<ion-content>
    <ion-header>
        <ion-toolbar color="dark">
          <ion-title >
            Pesquisar visitante
          </ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon color="danger" name="close" ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


    <ion-card>
        <ion-card-header class="header">
            <span class="left">
                <ion-item>
                    <ion-label position="floating" >
                        Nome ou Nº de telmovel ou Nº de Id
                        <!-- <ion-text color="danger">*</ion-text> -->
                    </ion-label>
                    <ion-input (input)="search($event.target.value)"></ion-input>
                </ion-item>
            </span>
        </ion-card-header>
    </ion-card>

    <!-- When there is nothing -->
    <span *ngIf="lstUser.length === 0 && !isLoading" >
        <ion-card color="medium">
            <ion-card-header>
                <ion-card-title>Visitante não existente</ion-card-title>
            </ion-card-header>
        </ion-card>
    </span>

    <!-- When its loading -->
    <span *ngIf="isLoading">
        <ion-card color="dark">
            <ion-card-header>
                <ion-card-title>Carregando a lista de visitantes...</ion-card-title>
            </ion-card-header>
        </ion-card>
    </span>

    <!-- When there is something -->
    <span *ngIf="lstUser.length > 0 && !isLoading" >
        <ion-virtual-scroll
            [items]="lstUser"
            [trackBy] = "trackByFn"
            approxItemHeight="100px" 
            [itemHeight]="itemHeightFn">

            <ion-card 
                button 
                *virtualItem = "let user;"
                (click)="onItemClick(user)">
                <ion-card-header>
                    <ion-card-title>{{user['fname']}} {{user['lname']}}</ion-card-title>
                    <ion-card-subtitle *ngIf="user['nid']===null">
                        Nº de telemovel: {{user['pnumber_1']}}
                    </ion-card-subtitle>
                    <ion-card-subtitle *ngIf="user['nid']!==null">
                        Nº de ID: {{user['nid']}}
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-virtual-scroll>
    </span>

</ion-content>