.btn{
    width: 100%;
    
}
ion-button{
    width: 100%;
    margin: auto;
}

ion-content{
    width: 100%;
    height: 100%;
    // background-color: red;
    --background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

ion-spinner, .spinner{
    margin:auto;
    width: 100%;
}



