<ion-content>
  <ion-card>
    <ion-card-content *ngIf="user !== null" >
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-item>
          <ion-label position="floating">
            Primeito Nome
          </ion-label>
          <ion-input
            required
            #fname="ngModel"
            value="{{user.fname}}"
            ngModel name = "fname"
            [(ngModel)]="user.fname">
          </ion-input>
        </ion-item>

        <!-- Ultimo nome -->
        <ion-item>
          <ion-label position="floating">
            Ultimo nome
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input 
          required 
          ngModel name = "lname"
          #lnameCtrl = "ngModel" 
          type="text" 
          [(ngModel)] = "user['lname']"></ion-input>
        </ion-item>
        <ion-item *ngIf="!lnameCtrl.valid && lnameCtrl.touched" lines = "none">
          <ion-label >
            <p>Preencha o campo</p>
          </ion-label>
        </ion-item>

        <!-- NID -->
        <ion-item>
          <ion-label position="floating">
            Nº do ID
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input 
          required 
          ngModel name="nid"
          type="text"
          #nidCtrl = "ngModel" 
          [(ngModel)]="user['nid']"></ion-input>
        </ion-item>
        <ion-item  *ngIf="!nidCtrl.valid && nidCtrl.touched" lines = "none">
          <ion-label>
            <p>Preencha o campo</p>
          </ion-label>
        </ion-item>


        <!-- TIPO DE IDENTIFICACAO cod, cod_etype, etype, extra, active -->
        <ion-list *ngIf="!isLoadingTid" >
          <ion-radio-group (ionChange)="onRbTipIdChange($event)" [value]="user.cod_type_id" name="radio">
            <ion-list-header>
              <ion-label>Documento de identificação</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let tip_id of lstTipId" >
              <ion-label>{{tip_id['extra']}}</ion-label>
              <ion-radio 
                slot="start" 
                name="rbTid" 
                [value]="tip_id.cod"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-list *ngIf="isLoadingTid" >
          <ion-spinner name="crescent"></ion-spinner>
        </ion-list>

        <!-- VALIDADE -->
        <ion-item>
          <ion-label position="floating">Validade do ID</ion-label>
          <ion-datetime 
            name="dateP"
            displayFormat="YYYY/MM/DD" 
            max = "2100-12-31"
            min = "1800-12-31"
            [value]="user.exp_date_id"
            (ionChange)="onDataChange($event)"
          ></ion-datetime>
        </ion-item>

        <!-- NACIONALIDADE -->
        <ion-item>
          <ion-label position="floating" >Nacionalidade</ion-label>
          <ion-select 
            (ionChange)="onRbNacionalidadeChange($event)" 
            [value]="user.nationality" 
            multiple="false" 
            placeholder="Selecione o pais">
            <ion-select-option 
              *ngFor="let country of COUNTRY_LIST"  
              [value]="country['name']">
                {{country['name']}}
              </ion-select-option>
          </ion-select>
        </ion-item>
      

        <!-- EMAIL -->
        <ion-item>
          <ion-label position="floating">
            Email
          </ion-label>
          <ion-input 
          ngModel name="email"
          #emailCtrl="ngModel"
          type="email" 
          [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <!-- PNUMBER 1 -->
        <ion-item>
          <ion-label position="floating">
            Numero De Telemovel 
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input 
          required
          ngModel name = "pnumber_1"
          #pnumber_1Ctrl = "ngModel"
          type="text" 
          [(ngModel)]="user.pnumber_1"></ion-input>
        </ion-item>
        <ion-item  *ngIf="!pnumber_1Ctrl.valid && pnumber_1Ctrl.touched" lines = "none">
          <ion-label >
            <p>Preencha o campo</p>
          </ion-label>
        </ion-item>

        <!-- PNUMBER 2 -->
        <ion-item>
          <ion-label position="floating">
            Numero De Telemovel Alternativo 
          <ion-text color="danger">*</ion-text>
        </ion-label>
          <ion-input 
          required 
          type="text" 
          ngModel name = "pnumber_2"
          #pnumber_2Ctrl = "ngModel"
          [(ngModel)]="user['pnumber_2']"></ion-input>
        </ion-item>
        <ion-item *ngIf="!pnumber_2Ctrl.valid && pnumber_2Ctrl.touched" lines = "none">
          <ion-label>
            <p>Preencha o campo</p>
          </ion-label>
        </ion-item>

        <!-- PSW -->
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input 
          required 
          type="password"
          ngModel name = "psw"
          #pswCtrl = "ngModel"
          minlength = "6"
          [(ngModel)] ="psw"></ion-input>
        </ion-item>
        <ion-item *ngIf="!pswCtrl.valid && pswCtrl.touched" lines = "none">
          <ion-label >
            <p>Preencha o campo com o minimo de 6 caracteres</p>
          </ion-label>
        </ion-item>
        

        <div class="ion-padding">
          <ion-button 
          class="ion-no-margin" 
          style="width: 100%;" 
          block color="success"
          [disabled]="!form.valid" 
          type="submit">
          Editar Dados
        </ion-button>
        </div>


      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
