<ion-content>

  <div class="main">
    <!-- <div class="child">
      <ion-button color="dark" (click)="onClick()" expand="block" >
        Selecionar Portão
      </ion-button>
    </div> -->

    <div class="child">
      <ion-card (click)="onClick()" color="danger" *ngIf="curGate === null">
        <ion-card-header>
          <ion-card-title >Sem Portão selecionado</ion-card-title>
        </ion-card-header>
      </ion-card>
  
      <ion-card (click)="onClick()" color="dark" *ngIf="curGate !== null">
        <ion-card-header>
          <ion-card-title >{{curGate['name']}} selecionado</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
    
</ion-content>