<ion-header *ngIf="isIos" >
  <ion-toolbar color="dark">
    <ion-title>
      {{pedido.sv_code}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="isNotify" (click)="notifyNext()">
        <ion-icon color="dark" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="!isIos" >
      <ion-header>
        <ion-toolbar>
          <ion-title>
            {{pedido.sv_code}}
          </ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon color="danger" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button [disabled]="isNotify" (click)="notifyNext()">
              <ion-icon color="dark" name="notifications"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card-header>


    <!-- STATUS -->
    <ion-card color="dark">
      <!-- Colectivo -->
      <ion-card-header class="div_status" *ngIf="pedido.length">
        <ion-card-subtitle class="ion-text-center">Visita:
          <!-- VISITAS APROVADS -->
          <span style="color: #10dc60;"
            *ngIf="pedido[0]['st_state'] === 1 && !setVisitTime() && pedido[0]['sv_is_done']===null">
            APROVADA
          </span>
          <!-- VISTITAS PENDENTES -->
          <span style="color: #ffce00;"
            *ngIf="pedido[0]['st_state'] === 0 && !setVisitTime()">
            PENDENTE
          </span>
          <!-- VISITAS RECUSADAS -->
          <span style="color: #f04141;"
            *ngIf="pedido[0]['st_state'] === -1">
            REJEITADA
          </span>
          <!-- VISITAS CANCELADAS -->
          <span style="color: #f25454;"
            *ngIf="pedido[0]['st_state'] === 2">
            CANCELADA
          </span>
          <!-- VISITAS PASSADAS -->
          <span style="color: #92949c;"
            *ngIf="(pedido[0]['st_state'] === 0 ||
                    pedido[0]['st_state'] === 1) && setVisitTime() && pedido[0]['sv_is_done']!==false">
            EXPIRADA
          </span>
          <!-- VISITAS TERMINADAS -->
          <span style="color: #10dc60;"
            *ngIf="(pedido[0]['st_state'] === 1) && !setVisitTime() && pedido[0]['sv_is_done']">
            TERMINADA
          </span>
          <!-- VISITA A DECORRER -->
          <span style="color: #4c8dff;"
            *ngIf="(pedido[0]['st_state'] === 0 ||
                    pedido[0]['st_state'] === 1) && pedido[0]['sv_is_done']===false">
            A DECORRER
          </span>
        </ion-card-subtitle>
      </ion-card-header>
    
      <!-- Singular -->
      <ion-card-header class="div_status" *ngIf="!pedido.length">
        
        <ion-card-subtitle class="ion-text-center">Visita:
          <!-- VISITAS APROVADS -->
          <span style="color: #10dc60;"
            *ngIf="pedido['st_state'] === 1  && !setVisitTime() && pedido['sv_is_done']===null">
            APROVADA
          </span>
          <!-- VISTITAS PENDENTES -->
          <span style="color: #ffce00;"
            *ngIf="pedido['st_state'] === 0  && !setVisitTime()">
            PENDENTE
          </span>
          <!-- VISITAS RECUSADAS -->
          <span style="color: #f04141;"
            *ngIf="pedido['st_state'] === -1">
            REJEITADA
          </span>
          <!-- VISITAS CANCELADAS -->
          <span style="color: #f25454;"
            *ngIf="pedido['st_state'] === 2">
            CANCELADA
          </span>
          <!-- VISITAS PASSADAS -->
          <span style="color: #92949c;"
            *ngIf="(pedido['st_state'] === 0 || 
                    pedido['st_state'] === 1) && setVisitTime() && pedido['sv_is_done']!==false">
            EXPIRADA
          </span>
          <!-- VISITAS TERMINADAS -->
          <span style="color: #10dc60;"
            *ngIf="(pedido['st_state'] === 1) && !setVisitTime() && pedido['sv_is_done']">
            TERMINADA
          </span>
          <!-- VISITA A DECORRER -->
          <span style="color: #4c8dff;"
            *ngIf="(pedido['st_state'] === 0 ||
                    pedido['st_state'] === 1) && pedido['sv_is_done']===false">
            A DECORRER
          </span>
        </ion-card-subtitle>
      </ion-card-header>
      <!-- /STATUS -->
    </ion-card>

    <ion-card-header>
      <!-- PEDIDO DETAIL -->
      <div class="div_spinner" *ngIf="isLoadingInfo">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <div class="div_info" *ngIf="!isLoadingInfo && pedidoInfo.length > 0 ">
        <ion-list>
          <!-- Data da visita -->
          <ion-item>
            <ion-label>
              <p>Data da visita:</p>
              <h3>
                {{pedido.sv_visit_dateTime}}
              </h3>
            </ion-label>
          </ion-item>

          <!-- Tipo de pedido -->
          <ion-item >
            <ion-label>
              <p>Pedido de:</p>
              <h3 *ngIf="pedidoInfo[0]['sv_is_access']" >
                Entrada
              </h3>
              <h3 *ngIf="!pedidoInfo[0]['sv_is_access']" >
                Saida
              </h3>
            </ion-label>
          </ion-item>

          <!-- Periodo -->
          <ion-item *ngIf="pedidoInfo[0]['sv_period'] > 0" >
            <ion-label>
              <p>Perido da visita:</p>
              <h3>
                {{pedidoInfo[0]['sv_period']}} Horas
              </h3>
            </ion-label>
            <ion-button *ngIf="pedidoInfo[0]['sv_is_multi_entry']" color="dark" (click)="onPeriodoClick()" size="small" expand="block" >
              Alterar
            </ion-button>
          </ion-item>

          <!-- Terminal -->
          <span *ngIf="pedidoInfo[0]['sv_cod_sub_company'] !== null" >
            <ion-item>
              <ion-label>
                <p>Empresa:</p>
                <h3>
                  {{pedidoInfo[0]['sv_company']}}
                </h3>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Terminal:</p>
                <h3>
                  {{pedidoInfo[0]['sv_sub_company']}}
                </h3>
              </ion-label>
            </ion-item>
          </span>

          <!-- Terminal -->
          <ion-item *ngIf="pedidoInfo[0]['sv_cod_sub_company'] === null" >
            <ion-label >
              <p *ngIf="!pedido['sv_is_ps']">Terminal:</p>
              <p *ngIf="pedido['sv_is_ps']">Servicos Publicos:</p>
              <h3>
                {{pedidoInfo[0]['sv_company']}}
              </h3>
            </ion-label>

          </ion-item>

          <!-- Departamento -->
          <ion-item *ngIf="!pedido['sv_is_ps']" >
            <ion-label>
              <p>Departamento:</p>
              <h3>
                {{pedidoInfo[0]['sv_department']}}
              </h3>
            </ion-label>
          </ion-item>

          <!-- Funcionario -->
          <ion-item *ngIf="!pedidoInfo[0]['sv_is_company']">
            <ion-label>
              <p>Funcionario:</p>
              <h3>
                {{pedidoInfo[0]['st_host_fname']}} {{pedidoInfo[0]['st_host_lname']}}
              </h3>
            </ion-label>
          </ion-item>

          <!-- Entradas Multiplas -->
          <ion-item>
            <ion-label>
              <p>Multiplas entradas:</p>
              <h3 *ngIf="pedidoInfo[0]['sv_is_multi_entry']" >
                Sim
              </h3>
              <h3 *ngIf="!pedidoInfo[0]['sv_is_multi_entry']" >
                Não
              </h3>
            </ion-label>
          </ion-item>

          <!-- Portao de acesso -->
          <ion-item>
            <ion-label>
              <p>Portao de acesso:</p>
              <h3>
                {{pedidoInfo[0]['sv_gate']}}
              </h3>
            </ion-label>
            <ion-button *ngIf="roleCanChange['gate'].includes(userAuthed.cod_role)" 
                        color="dark" 
                        (click)="onGateClicked()" 
                        size="small" 
                        expand="block" >
              Alterar
            </ion-button>
          </ion-item>

          <!-- Pedido Interno -->
          <ion-item *ngIf="!pedido['sv_is_ps']">
            <ion-label>
              <p>Pedido interno:</p>
              <h3 *ngIf="pedidoInfo[0]['sv_is_internal']" >
                Sim
              </h3>
              <h3 *ngIf="!pedidoInfo[0]['sv_is_internal']" >
                Não
              </h3>
            </ion-label>
          </ion-item>

          <!-- MOTIVO RESUMIDO -->
          <ion-item *ngIf="pedidoInfo[0]['sv_rrp']">
            <ion-label>
              <p>Motivo:</p>
              <h3>
                {{pedidoInfo[0]['sv_rrp']}}
              </h3>
            </ion-label>
          </ion-item>

          <!-- MOTIVATION -->
          <ion-item *ngIf="!pedido['sv_is_ps']">
            <ion-label>
              <p>Detalhe:</p>
              <h3>
                {{pedidoInfo[0]['sv_detail']}}
              </h3>
            </ion-label>
          </ion-item>

        </ion-list>
      </div>
      <!-- /PEDIDO DETAIL -->
    </ion-card-header>

    <!-- PEDIDO VISITOR -->
    <ion-card-header>
      <div class="div_spinner" *ngIf="isLoadingVisitor">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <div class="div_visitor" *ngIf="!isLoadingVisitor">
        <div class="div_status">
          <ion-card-subtitle class="ion-text-center">
            Visitantes/Funcioanrios
          </ion-card-subtitle>
        </div>

        <ion-list *ngFor="let visitor of pedidoVisitor; let i=index" >
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <p>Nome completo & Nº de ID: </p>
                <h3>
                    {{visitor['fname']}} {{visitor['lname']}}
                </h3>
                <h5>
                  {{visitor['nid']}}
                </h5>
              </ion-label>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option color="primary" (click)="modalVisitor(visitor)">Ver</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          
        </ion-list>
      </div>
      <!-- /PEDIDO VISITOR -->
    </ion-card-header>
      

    <!-- PEDIDO EXTRA -->
    <ion-card-header>
      <div class="div_spinner" *ngIf="isLoadingExtra">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <div class="div_extra" *ngIf="!isLoadingExtra">
        <div class="div_status">
          <ion-card-subtitle class="ion-text-center">
            Material
          </ion-card-subtitle>
        </div>
        <ion-list *ngFor="let extra of lstMaterial; let i=index">
          <ion-item *ngIf="extra['bool_is_active']">
            <ion-label >{{extra['str_oname']}}</ion-label>
            <ion-note slot="start">{{extra['int_qnt']}}</ion-note>
          </ion-item>
        </ion-list>
        
        <ion-item *ngIf="!pedido['sv_is_ps']" lines=none>
          <ion-button class="btn_material" 
            *ngIf=" !isLoadingInfo && !isLoadingVisitor && !isLoadingExtra" 
            size="small" 
            color="dark" 
            (click)="onMaterialClicked()">
            <ion-icon slot="start" name="pencil-sharp"></ion-icon>
            Material
        </ion-button>
        </ion-item>
      
        
        <!-- MATRICULA -->
        <div class="div_matricula" *ngIf="lstMatricula.length > 0" >
          <ion-card-subtitle class="ion-text-center">
            Matricula
          </ion-card-subtitle>
        </div>
        <ion-list *ngFor="let extra of lstMatricula; let i=index">
          <ion-item>
            <ion-label>- {{extra['str_oname']}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <!-- /PEDIDO EXTRA -->
    </ion-card-header>

    <!-- Opcoes -->
    <ion-card-header>
      <div class="div_buttons" *ngIf="(checkpendentInside() || !isVisitStarted) && !isLoadingInfo" >
        <div id="div_btn_accept">
          <ion-button expand="block" style="color: white;" color="success" (click)="onYesClick()">
            <ion-icon slot="icon-only" name="checkmark-sharp"></ion-icon>
          </ion-button>
        </div>

        <div id="div_bnt_refuse">
          <ion-button expand="block" color="danger" (click)="onNoClick()">
            <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
          </ion-button>
        </div>
      </div>
      <!-- /Opcoes -->
    </ion-card-header>

  </ion-card>
</ion-content>

