ion-content{
    width: 100%;
    height: 100%;
    --background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

ion-content {
    width: 100%;
}

.div_status{
    text-align: center;
}

.div_spinner{
    text-align: center;
}

.div_buttons{
    display: flex;
    justify-content: space-between;
}

#div_btn_accept{
    float: left;
    width: 20%;
}

#div_bnt_refuse{
    float: right;
    right: 5px;
    width: 20%;
}

