<ion-app>
  <ion-menu  swipeGesture="false" menuId="m_pedido" side="start" type="overlay">
    <ion-header >
      <ion-toolbar color="secondary">
        <ion-title>Port Gateway</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content >
      <ion-list *ngIf="user != null ">

        <ion-list-header >
          <div class="div_header">
            <span id="span_name">
              {{user.fname}} {{user.lname}}
            </span>
            <span id="span_prov" *ngIf="user.cod_role !== env.gatekeeper_cod">
              {{user.company}}: {{user.department}}
            </span>
            <span id="span_prov" *ngIf="user.cod_role === env.gatekeeper_cod">
              <p *ngIf="gate===null" >Portão: Não identificado</p>
              <p *ngIf="gate!==null" >Portão: {{gate['name']}}</p>
            </span>
          </div>
        </ion-list-header>
        
        <!-- FOR HTC -->
        <ion-item-group *ngIf="user.cod_role !== env.gatekeeper_cod"  >
          <!-- MY DASHBOARD -->
          <ion-item button (click)="onDashboardClicked()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
          
          
          <ion-item button (click)="onRequestClicked()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            <ion-label>Pedidos</ion-label>
          </ion-item>


          <ion-item button (click)="onUserInfoClicked()"  lines="full">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Dados Pessoais</ion-label>
          </ion-item>

        </ion-item-group>

        <!-- FOR GK -->
        <ion-item-group *ngIf="user.cod_role === env.gatekeeper_cod"  >
          <!-- PAGE TO SELECT GATE -->
          <ion-item button (click)="onGateClicked()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            <ion-label>Selecionar Portão</ion-label>
          </ion-item>

          <!-- PAGE Public services -->
          <ion-item [disabled]="!hasGate" button (click)="onPsClicked()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            <ion-label>Serviços públicos</ion-label>
          </ion-item>

          <!-- PAGE ENTRADAS -->
          <ion-item [disabled]="!hasGate" button (click)="onEntradasClicked()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            <ion-label>Entradas</ion-label>
          </ion-item>

          <!-- PAGE SAIDAS -->
          <ion-item [disabled]="!hasGate" button (click)="onSaidasClicked()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            <ion-label>Saidas</ion-label>
          </ion-item>

          <!-- info -->
          <ion-item lines="none" *ngIf="!hasGate"  class="ion-text-center">
            <h4>Para activar as outras opções selecione um portão</h4>
          </ion-item>
        </ion-item-group>
      </ion-list>

    
      <!-- EXIT -->
      <div class="div_exit">
        <ion-item button (click)="onLogOutClicked()" lines="full">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </div>
      
      
      <!-- ADD TRADE MARK -->
      <div class="div_trademark">
        Uncommented + MPDC
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main ></ion-router-outlet>
</ion-app>



<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
