
.div_trademark{
    font-size: 10px;
    color: #3c3c3c;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.div_exit{
    position: absolute;
    width: 100%;
    bottom: 40px;

}

.div_header{
    display: flex;
    flex-direction: column;
}

.activeRouter {
    color: rgba($color: rgba(126,193,253,1), $alpha: 0);
}