<ion-header *ngIf="isIos" >
  <ion-toolbar color="dark">
    <ion-title>
      Filtrar
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="!isIos">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Filtrar
          </ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon color="danger" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card-header>

    <ion-card-content>

      <!-- Filtragem geral HTC -->
      <!-- DATA & HORA -->
      <ion-item>
        <ion-label position="floating">Data e Hora inicial</ion-label>
        <ion-datetime display-format="DD/MM/YYYY HH:mm" name="dInicio" [(ngModel)]="dInicio"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data e Hora final</ion-label>
        <ion-datetime display-format="DD/MM/YYYY HH:mm" name="dFim" [min]="dInicio" [(ngModel)]="dFim"></ion-datetime>
      </ion-item>

      <!-- COLECTIO OU SIGULAR -->
      <ion-list>
        <ion-radio-group name="visitorType" [value]="lstTipVisita[0]['id']">
          <ion-list-header>
            <ion-label>Tipo de visita</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of lstTipVisita" >
            <ion-label>{{item['name']}}</ion-label>
            <ion-radio (ionFocus)="onTipoVisitChange(item['id'])" slot="start" [value]="item['id']"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <!-- Estado do pedido -->
      <ion-list>
        <ion-radio-group name="visitorType" [value]="lstEstadoPedido[0]['id']">
          <ion-list-header>
            <ion-label>Estado do Pedido</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of lstEstadoPedido" >
            <ion-label>{{item['name']}}</ion-label>
            <ion-radio (ionFocus)="onEstadoVisitChange(item['id'])" slot="start" [value]="item['id']"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
        
      <!-- Tipo de PEDIDOS -->
      <ion-list>
        <ion-radio-group name="visitorType" [value]="listTipPedido[0]['id']">
          <ion-list-header>
            <ion-label>Tipo de pedido</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of listTipPedido" >
            <ion-label>{{item['name']}}</ion-label>
            <ion-radio (ionFocus)="onTipoPedidoChange(item['id'])" slot="start" [value]="item['id']"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <!-- CORE -->
      <!-- TERMINAL -->
      <ion-item *ngIf="!terminalIsLoading">
        <ion-label position="floating" >Terminal</ion-label>
        <!-- For Core -->
        <ion-select (ionChange)="onTerminalChange($event)" *ngIf="isCore" >
          <ion-select-option *ngFor="let objTer of lstObjTer" [value]="objTer['int_id']"> 
            {{objTer['str_cname']}}
          </ion-select-option>
        </ion-select>

        <!-- For Other User -->
        <ion-select disabled *ngIf="!isCore" 
          [value]="user.cod_company">
          <ion-select-option [value]="user.cod_company" >
            {{user.company}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="terminalIsLoading" lines=none>
        <ion-spinner class="spinner"  name="crescent"></ion-spinner>
      </ion-item>


      <!-- THREAD & CORE -->
      <!-- DEPARTAMENTO -->
      <ion-item *ngIf="!depdIsLoading">
        <ion-label position="floating">Departamento</ion-label>
        <!-- For Thread or Core -->
        <ion-select (ionChange)="onDepChange($event)" *ngIf="isThread || isCore">
          <ion-select-option *ngFor="let objDep of lstObjDep" 
            [value]="objDep['cod_department']"> 
            {{objDep['department']}}
          </ion-select-option>
        </ion-select>

        <!-- For Host -->
        <ion-select disabled *ngIf="!isThread && !isCore" 
          [value]="user.cod_department">
          <ion-select-option [value]="user.cod_department" >
            {{user.department}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="depdIsLoading" lines=none>
        <ion-spinner class="spinner"  name="crescent"></ion-spinner>
      </ion-item>

      
      <!-- ALL -->
      <!-- Host -->
      <ion-item *ngIf="!hostIsLoading">
        <ion-label position="floating" >Colaborador</ion-label>
        <!-- For Thread or Core -->
        <ion-select (ionChange)="onHostChange($event)" *ngIf="isThread || isCore" >
          <ion-select-option *ngFor="let objHost of lstObjHost" [value]="objHost.cod" > 
            {{objHost['fname']}} {{objHost['lname']}}
          </ion-select-option>
        </ion-select>

        <!-- For Host -->
        <ion-select disabled *ngIf="!isThread && !isCore" 
          [value]="user.cod">
          <ion-select-option [value]="user.cod" >
            {{user['fname']}} {{user['lname']}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="hostIsLoading" lines=none>
        <ion-spinner class="spinner"  name="crescent"></ion-spinner>
      </ion-item>

      <ion-item lines="none">
        <div class="btn">
          <ion-button (click)="onFiltarClick()" color="success">
            Filtrar
          </ion-button>
        </div>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
</ion-content>