ion-content {
    width: 100%;
    height: 100%;
    --background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}


::ng-deep div.alert-wrapper.ion-overlay-wrapper{
    max-width: 100%;
    width: 50%;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: rigth;
}

.ui_container { 
    justify-content: space-between;
    display: flex;
    width: 98%;
    // margin: auto;
}

.div_title_w_search{
    justify-content: space-between;
    display: flex;
}

#card_left{
    width: 80%;
    float: left;
}

#btn_right{
    width: 20%;
    float: right;
}

#front{
    width: 49%;
    height: 200px;
    // border: 1px dashed black;
}

#back{
    width: 49%;
    height: 200px;
    // border: 1px dashed black;
   
}

ion-img{
    max-width: 100%;
    height: 198px;
    margin: auto;
}

#submit{
    // justify-content: space-between;
    width: 90%;
    margin: auto;
}
#class_card_left{
    width: 80%;
    float: left;
}

#btn_right{
    width: 20%;
    float: right;
}