<ion-content>
  <ion-card>
    <form name="formx" #psForm="ngForm" (ngSubmit)="onSubmit(psForm)" >
      <!-- FOR DADOS PESSOAIS -->
      <div class="div_title_w_search">
        <ion-card id="card_left" class="ion-text-center" color="dark">
          <ion-card-header  >
            <ion-card-title>
              Dados Pessoais
            </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="onPesquisarClicked()" id="btn_right" class="ion-text-center" color="tertiary">
          <ion-card-header >
            <ion-card-title>
              <ion-icon size="large" name="search"></ion-icon>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card (click)="onNovoClicked()" id="btn_right" class="ion-text-center" color="primary">
          <ion-card-header >
            <ion-card-title>
              <ion-icon size="large" name="refresh"></ion-icon>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      
    
      <!-- NAMES -->
      <div class="ui_container">
        <!-- FNAME -->
        <div class="left"> 
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="person"></ion-icon>
              Primerio nome
            </ion-label>
            <ion-input
              required
              name="fname"
              #fname="ngModel"
              [value]="userSelected['fname']"
              ngModel>
            </ion-input>
          </ion-item>
          <p style="color: red" *ngIf="!fname.valid && fname.touched" >
            *Nome não pode estar vazio!
          </p>
        </div>
    
        <!-- LNAME -->
        <div class="right">
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="person"></ion-icon>
              Apelido
            </ion-label>
            <ion-input
              required
              name="lname"
              #lname="ngModel"
              [value]="userSelected['lname']"
              ngModel>
            </ion-input>
          </ion-item>
          <p style="color: red" *ngIf="!lname.valid && lname.touched" >
            *Apelido não pode estar vazio!
          </p>
        </div>
      </div>
    
      <!-- ID -->
      <div class="ui_container">
        <!-- TIPO ID -->
        <span class="left">
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="information-circle"></ion-icon>
              Tipo de identificação
            </ion-label>
            <ion-select [value]="userSelected['cod_type_id']" 
                        required
                        name="tipId"
                        #tipId = "ngModel"
                        ngModel>
              <ion-select-option *ngFor="let tipId of lstTipId" [value]="tipId.cod" >
                {{tipId.extra}}
              </ion-select-option>
            </ion-select>
      
          </ion-item>
          <p style="color: red" *ngIf="!tipId.valid && tipId.touched" >
            *Tipo de identificação não foi selecionado!
          </p>
        </span>
    
        <!-- CODIGO ID -->
        <span class="right">
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="information-circle"></ion-icon>
              Nº de identificação
            </ion-label>
            <ion-input
              required
              name="nid"
              #nid="ngModel"
              [value]="userSelected['nid']"
              ngModel>
            </ion-input>
          </ion-item>
          <p style="color: red" *ngIf="!nid.valid && nid.touched" >
            *Nº de identificação não pode estar vazio!
          </p>
        </span> 
      </div>

      <!-- N telemovel -->
      <div class="ui_container">
        <span class="left"></span>
        <span class="right">
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="call"></ion-icon>
              Nº de telemovel
            </ion-label>
            <ion-input
              required
              type="number"
              name="ntel"
              #ntel="ngModel"
              [value]="userSelected['pnumber_1']"
              ngModel>
            </ion-input>
          </ion-item>
          <p style="color: red" *ngIf="!ntel.valid && ntel.touched" >
            *Nº de telemovel não pode estar vazio!
          </p>
        </span>
      </div>
    

      <!-- IMG -->
      <div *ngIf="userSelected['cod'] === null"  id="photos" class="ui_container">
        <!-- AFRENTE -->
        <div (click)="presentAlertConfirmTakePhoto(true)" id="front" class="left">
          <ion-img *ngIf="imgFront === null"  src="https://cdn2.iconfinder.com/data/icons/camera-56/48/3_add_plus_camera_photo_mobile_phone_video-512.png"></ion-img>
          <ion-img *ngIf="imgFront !== null"  id="img_front" [src]="imgFront"></ion-img>
        </div>
    
        <!-- ATRAS -->
        <div (click)="presentAlertConfirmTakePhoto(false)" id="back" class="right">
          <ion-img *ngIf="imgBack === null"  src="https://cdn2.iconfinder.com/data/icons/camera-56/48/3_add_plus_camera_photo_mobile_phone_video-512.png"></ion-img>
          <ion-img *ngIf="imgBack !== null"  id="img_back" [src]="imgBack"></ion-img>
        </div>
      </div>
    
    
      <!-- FOR DADOS DA VISTA -->
      <div class="div_title_w_search">
        <ion-card id="card_left" class="ion-text-center" color="dark">
          <ion-card-header>
            <ion-card-title>
              Dados Da Visita
            </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="onMaterialClicked()" id="btn_right" class="ion-text-center" color="tertiary">
          <ion-card-header >
            <ion-card-title>
              <ion-icon size="large" name="clipboard-outline"></ion-icon>
            </ion-card-title>
          </ion-card-header>
        </ion-card>

      </div>

      <!-- VISITA -->
      <div class="ui_container">
        <!-- DESTINO -->
        <span class="left">
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="location"></ion-icon>
              Destino
            </ion-label>
            <ion-select
              required
              #destId = "ngModel"
              name="destId"
              ngModel
             >
              <ion-select-option *ngFor="let destino of lstDestino" [value]="destino.int_id" >
                {{destino.str_cname}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <p style="color: red" *ngIf="!destId.valid && destId.touched" >
            *Destino não selecionado!
          </p>
        </span>
    
        <!-- MOTIVO -->
        <span class="right">
          <ion-item lines="inset">
            <ion-label position="floating">
              <ion-icon name="text"></ion-icon>
              Motivo
            </ion-label>
            <ion-select 
              required
              #motoId="ngModel"
              name="motoId"
              ngModel
              >
              <ion-select-option *ngFor="let moto of lstMoto" [value]="moto.cod" >
                {{moto.extra}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <p style="color: red" *ngIf="!motoId.valid && motoId.touched" >
            *Motivo não selecionado!
          </p>
        </span>
      </div>
    
      <!-- MATERIAL -->
      <div class="ui_container">
        <!-- BUTAO -->
        <span class="left"></span>
        <!-- LISTA -->
        <span class="right">
         <ion-list *ngIf="lstMaterial.length > 0" >
           <ion-list-header>
             Material
           </ion-list-header>
           <span *ngFor="let mtrl of lstMaterial" >
            <ion-item *ngIf="mtrl['bool_is_active']" lines="inset">
              <ion-badge color="warning">
                {{mtrl['int_qnt']}}
              </ion-badge> 
              <ion-label> 
                {{mtrl['str_oname']}}
              </ion-label>
            </ion-item>
           </span>
         </ion-list>
        </span>
      </div>

      <!-- <p>{{error | json}}</p> -->
    
      <!-- SUBMIT -->
    <ion-card-header>
      <ion-button id="submit" type="submit" [disabled]="!psForm.form.valid" color="primary" expand="block" >
        Registar
      </ion-button>
    </ion-card-header>
     
    
    </form>
  </ion-card>
  
</ion-content>
