<ion-content>
    <ion-refresher *ngIf="!isInitLoad" slot="fixed" (ionRefresh)="onRefresher($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText=""
          refreshingSpinner="crescent"
          refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card class="ion-text-center" color="dark">
      <ion-card-header>
        <!-- FOR the initial load -->
        <ion-card-title *ngIf="isInitLoad">
          Carregando os dados de 
          <b *ngIf="isEntrance">Entrada</b>
          <b *ngIf="!isEntrance" >Saida</b>
          do <span *ngIf="curGate">{{curGate['name']}}</span>. . .
          
        </ion-card-title>

        <!-- When there is no data -->
        <ion-card-title *ngIf="listPedidos.length < 1 && !isInitLoad">
          Sem nenhuma 
          <b *ngIf="isEntrance">Entrada</b>
          <b *ngIf="!isEntrance" >Saida</b> 
          no <b><span *ngIf="curGate">{{curGate['name']}}</span></b>!
        </ion-card-title>

        <ion-card-title *ngIf="listPedidos.length > 0 && !isInitLoad"  >
          <b *ngIf="isEntrance && !isRefreshing">Entradas do <span *ngIf="curGate">{{curGate['name']}}</span></b>
          <b *ngIf="isEntrance && isRefreshing"><i>Recarregando as Entradas do <span *ngIf="curGate">{{curGate['name']}}</span> . . . </i></b>

          <b *ngIf="!isEntrance && !isRefreshing" >Saidas do <span *ngIf="curGate">{{curGate['name']}}</span></b>
          <b *ngIf="!isEntrance && isRefreshing"><i>Recarregando as Saidas do <span *ngIf="curGate">{{curGate['name']}}</span> . . . </i></b>
        </ion-card-title> 
      </ion-card-header>
    </ion-card>

  
    <ion-virtual-scroll
        [items]="listPedidos"
        [trackBy] = "trackByFn"
        approxItemHeight="130px" 
        [itemHeight]="itemHeightFn">
        
      <ion-card 
        button 
        *virtualItem = "let pedido;"
        (click)="onItemClick(pedido)"
        >
          <div *ngIf="setStatusText(pedido)[1] === -1" id="s_rejected" class="status">
            <strong>{{ setStatusText(pedido)[0] }}</strong>
          </div>
    
          <div *ngIf="setStatusText(pedido)[1] === 0" id="s_pendente" class="status">
            <strong>{{ setStatusText(pedido)[0] }}</strong>
          </div>
    
          <div *ngIf="setStatusText(pedido)[1] === 1" id="s_aprovado" class="status">
            <strong>{{ setStatusText(pedido)[0] }}</strong>
          </div>
    
          <div *ngIf="setStatusText(pedido)[1] === 2" id="s_cancelado" class="status">
            <strong>{{ setStatusText(pedido)[0] }}</strong>
          </div>

          <ion-card-content>
            
            <!-- SINGULAR -->
            <div class="container" *ngIf="!pedido.length">
              <div class="left">
                <ion-card-title *ngIf="pedido['x_fname'].length > 10 ||  pedido['x_lname'].length > 10">
                  {{pedido['x_fname']}} {{pedido['x_lname'].substring(0, 5)+'...'}}
                </ion-card-title>
                <ion-card-title *ngIf="pedido['x_fname'].length <= 10 && pedido['x_lname'].length <= 10">
                  {{pedido['x_fname']}} {{pedido['x_lname']}}
                </ion-card-title>
                <ion-card-subtitle>
                  <ion-icon name="person-outline"></ion-icon>
                  Singular
                </ion-card-subtitle>
                
              </div>

              <div class="right">
                <ion-card-subtitle>
                  <ion-icon name="calendar-outline"></ion-icon>
                  {{pedido['sv_visit_dateTime']}}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="person-outline"></ion-icon>
                  1 Visitante
                </ion-card-subtitle>
              </div>
            </div>
      
              <!-- COLECTIVO -->
            <div class="container" *ngIf="pedido.length">
              <div class="left">
                <ion-card-title *ngIf="pedido[0]['x_fname'].length > 10 || pedido[0]['x_lname'].length > 10">
                  {{pedido[0]['x_fname']}} {{pedido[0]['x_lname'].substring(0, 5)+'...'}}
                </ion-card-title>
                <ion-card-title *ngIf="pedido[0]['x_fname'].length <= 10 && pedido[0]['x_lname'].length <= 10">
                  {{pedido[0]['x_fname']}} {{pedido[0]['x_lname']}}
                </ion-card-title>
                <ion-card-subtitle>
                  <ion-icon name="people-outline"></ion-icon>
                  Colectiva
                </ion-card-subtitle>
              </div>
              
              <div class="right">
                <ion-card-subtitle>
                  <ion-icon name="calendar-outline"></ion-icon>
                  {{pedido[0]['sv_visit_dateTime']}}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="people-outline"></ion-icon>
                  {{pedido.length}} Visitantes
                </ion-card-subtitle>
              </div>
            </div>
          </ion-card-content>
      </ion-card>

    </ion-virtual-scroll>

</ion-content>
<ion-progress-bar *ngIf="isLoading"  type="indeterminate" reversed="true"></ion-progress-bar>