ion-content{
    width: 100%;
    height: 100%;
    --background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}
ion-virtual-scroll{
    width: 100%;
    height: 100%;
}

.status{
    width:100%;
    color:black;
    text-align: center;
}

#s_rejected{
    background-color: #f04141;
}
#s_pendente{
    background-color: #ffce00
}
#s_aprovado{
    background-color: #10dc60;
}
#s_cancelado{
    background-color: #dd4747;
}

ion-card{
    margin-left:50px;
    margin-right:50px;
}

.container{
    display:flex;
}

.left{
    float:left;
    width:65%;
}

.right{
    text-align: right;
    float:right;
    width:35%
}