ion-content{
    width: 100%;
    height: 100%;
    --background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}
.state{
    display: flex;
    float: right;
    margin: auto;
    width: 100%;
    // position: absolute;
    // top: 10px;
    // right: 10px;
    // bottom: 10px;
}
#header{
    display: flex;
}

.left{
    width: 98%;
    float: left;
}

.right{
    float: right;
    margin: auto;
}

#state_all{
    writing-mode: vertical-rl;
    margin: auto;

}

#state_entity{
    margin: auto;
}

.div_tip_pedido{
    width: 100%;
    text-align: center;
}

ion-card-header{
    display: flex;
    
}