<!-- class="main" -->
<ion-content>
  <!-- Only allow refresher to be active when its done doing the initial loading -->
  <ion-refresher color="medium" *ngIf="!this.isInitLoading" slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText=""
    refreshingSpinner="crescent"
    refreshingText="">
  </ion-refresher-content>
  </ion-refresher>

  <!-- When loading for the first time -->
  <span *ngIf="this.isInitLoading">
    <ion-text class="ion-text-center" color="light">
      <i><p>Carregando os <b>Pedidos</b></p></i>
    </ion-text>
  </span>

  <!-- When there is no data -->
  <span *ngIf="(!lstPedidos.length || lstPedidos.length < 1) && !this.isInitLoading ">
    <ion-text class="ion-text-center" color="light">
      <i><p>Sem nenhum pedido</p></i>
    </ion-text>
  </span>

  <!-- When there is data -->
  <span *ngIf="(lstPedidos.length && lstPedidos.length > 0) && !this.isInitLoading" >
    <span class="card" *ngFor="let pedido of lstPedidos">
  
      <ion-card
      button
      (click)="onClick(pedido)" >
        <ion-card-header >
          <!-- Left side -->
          <div class="left">
            <!-- Tipo de pedido -->
            <!-- Colectivo -->
            <div class="div_tip_pedido" *ngIf="pedido.length" >
              <ion-card-subtitle *ngIf="pedido[0].sv_is_access">
                Pedido de Acesso
              </ion-card-subtitle>
              <ion-card-subtitle *ngIf="!pedido[0].sv_is_access">
                Pedido de Saida
              </ion-card-subtitle>
            </div>

            <!-- Singular -->
            <div class="div_tip_pedido" *ngIf="!pedido.length" >
              <ion-card-subtitle *ngIf="pedido.sv_is_access">
                Pedido de Acesso
              </ion-card-subtitle>
              <ion-card-subtitle *ngIf="!pedido.sv_is_access">
                Pedido de Saida
              </ion-card-subtitle>
            </div>
            <!-- /Tipo de pedido -->


            <!-- NOME -->
            <div class="name">
              <!-- Colectiva -->
              <span *ngIf="pedido.length">

                <ion-card-title *ngIf="pedido[0]['x_fname'].length > 10 || pedido[0]['x_lname'].length > 10">
                  {{pedido[0]['x_fname']}} {{pedido[0]['x_lname'].substring(0, 5)+'...'}}
                </ion-card-title>
                <ion-card-title *ngIf="pedido[0]['x_fname'].length <= 10 && pedido[0]['x_lname'].length <= 10">
                  {{pedido[0]['x_fname']}} {{pedido[0]['x_lname']}}
                </ion-card-title>
              </span>

              <!-- Individual -->
              <span *ngIf="!pedido.length">
                <ion-card-title *ngIf="pedido['x_fname'].length > 10 ||  pedido['x_lname'].length > 10">
                  {{pedido['x_fname']}} {{pedido['x_lname'].substring(0, 5)+'...'}}
                </ion-card-title>
                <ion-card-title *ngIf="pedido['x_fname'].length <= 10 && pedido['x_lname'].length <= 10">
                  {{pedido['x_fname']}} {{pedido['x_lname']}}
                </ion-card-title>
              </span>
            </div>
            <!-- /NOME -->

            <!-- Visita -->
            <div class="visita">
              <!-- Colectiva -->
              <span *ngIf="pedido.length" class="visita_colectiva">
                <ion-card-subtitle>
                  <ion-icon name="people-outline"></ion-icon>
                  {{ pedido.length }}
                </ion-card-subtitle>
                <!-- Tipo de visitante -->
                <ion-card-subtitle *ngIf="pedido[0]['x_isvitor']">Colectiva | Visitantes</ion-card-subtitle>
                <ion-card-subtitle *ngIf="!pedido[0]['x_isvitor']" >Colectiva | Funcionarios</ion-card-subtitle>
              </span>

              <!-- Singular -->
              <span *ngIf="!pedido.length" class="visita_singular">
                <ion-card-subtitle>
                  <ion-icon name="person-outline"></ion-icon>
                </ion-card-subtitle>
                <!-- Tipo de visitante -->
                <ion-card-subtitle *ngIf="pedido['x_isvitor']">Singular | Visitante</ion-card-subtitle>
                <ion-card-subtitle *ngIf="!pedido['x_isvitor']" >Singular | Funcionario</ion-card-subtitle>
              </span>
            </div>
            <!-- /Visita -->

            <!-- DATA -->
            <div class="dataTime">
              <div id="data">
                <ion-card-subtitle>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <span *ngIf="pedido.length">
                    {{ pedido[0]["sv_visit_dateTime"] }}
                  </span>

                  <span *ngIf="!pedido.length">
                    {{ pedido["sv_visit_dateTime"] }}
                  </span>
                  
                </ion-card-subtitle>
              </div>
            </div>
            <!-- /DATA -->
          </div>
          <!-- /Left side -->


          <!-- Right side -->
          <div class="right">
            <!-- STATE -->
            <!-- Colectivo -->
            <div  *ngIf="pedido.length" class="state">
              <div id="state_all">
                <ion-card-subtitle
                  *ngIf="pedido[0]['st_state'] === 1 && !setVisitTime(pedido[0])"
                >
                  ACEITE
                </ion-card-subtitle>
                <ion-card-subtitle
                  *ngIf="pedido[0]['st_state'] === -1 && !setVisitTime(pedido[0])"
                >
                  RECUSADO
                </ion-card-subtitle>
                <ion-card-subtitle
                  *ngIf="pedido[0]['st_state'] === 0 && !setVisitTime(pedido[0])"
                >
                  PENDENTE
                </ion-card-subtitle>
                <ion-card-subtitle
                  *ngIf="pedido[0]['st_state'] === 2 && !setVisitTime(pedido[0])"
                >
                  CANCELADO
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="setVisitTime(pedido[0])">
                  EXPIRADO
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="setVisitTime(pedido) && pedido[0]['sv_is_done']==0">
                  DECORRER
                </ion-card-subtitle>
              </div>

              <div *ngIf="setVisitTime(pedido[0]) && pedido[0]['sv_is_done']!=0" id="state_entity">
                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_host_is'] && !pedido[0]['st_host_is_cancel']
                    "
                    color="medium"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_host_is'] === false &&
                      !pedido[0]['st_host_is_cancel']
                    "
                    color="medium"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_host_is'] === null &&
                      !pedido[0]['st_host_is_cancel']
                    "
                    color="medium"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido[0]['st_host_is_cancel']"
                    color="medium"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_threa_is'] && !pedido[0]['st_threa_is_cancel']
                    "
                    color="medium"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_threa_is'] === false &&
                      !pedido[0]['st_threa_is_cancel']
                    "
                    color="medium"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_threa_is'] === null &&
                      !pedido[0]['st_threa_is_cancel']
                    "
                    color="medium"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido[0]['st_threa_is_cancel']"
                    color="medium"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_core_is'] && !pedido[0]['st_core_is_cancel']
                    "
                    color="medium"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_core_is'] === false &&
                      !pedido[0]['st_core_is_cancel']
                    "
                    color="medium"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_core_is'] === null &&
                      !pedido[0]['st_core_is_cancel']
                    "
                    color="medium"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido[0]['st_core_is_cancel']"
                    color="medium"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>
              </div>

              <div *ngIf="!setVisitTime(pedido[0]) ||  pedido[0]['sv_is_done']==0" id="state_entity">
                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_host_is'] && !pedido[0]['st_host_is_cancel']
                    "
                    color="success"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_host_is'] === false &&
                      !pedido[0]['st_host_is_cancel']
                    "
                    color="danger"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_host_is'] === null &&
                      !pedido[0]['st_host_is_cancel']
                    "
                    color="warning"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido[0]['st_host_is_cancel']"
                    color="danger"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_threa_is'] && !pedido[0]['st_threa_is_cancel']
                    "
                    color="success"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_threa_is'] === false &&
                      !pedido[0]['st_threa_is_cancel']
                    "
                    color="danger"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_threa_is'] === null &&
                      !pedido[0]['st_threa_is_cancel']
                    "
                    color="warning"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido[0]['st_threa_is_cancel']"
                    color="danger"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_core_is'] && !pedido[0]['st_core_is_cancel']
                    "
                    color="success"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_core_is'] === false &&
                      !pedido[0]['st_core_is_cancel']
                    "
                    color="danger"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido[0]['st_core_is'] === null &&
                      !pedido[0]['st_core_is_cancel']
                    "
                    color="warning"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido[0]['st_core_is_cancel']"
                    color="danger"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>
              </div>
            </div>

            <!-- Singular -->
            <div *ngIf="!pedido.length" class="state">
              <div id="state_all">
                <ion-card-subtitle
                  *ngIf="pedido['st_state'] === 1 && !setVisitTime(pedido)"
                >
                  ACEITE
                </ion-card-subtitle>
                <ion-card-subtitle
                  *ngIf="pedido['st_state'] === -1 && !setVisitTime(pedido)"
                >
                  RECUSADO
                </ion-card-subtitle>
                <ion-card-subtitle
                  *ngIf="pedido['st_state'] === 0 && !setVisitTime(pedido)"
                >
                  PENDENTE
                </ion-card-subtitle>
                <ion-card-subtitle
                  *ngIf="pedido['st_state'] === 2 && !setVisitTime(pedido)"
                >
                  CANCELADO
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="setVisitTime(pedido) && pedido['sv_is_done']!=0">
                  EXPIRADO
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="setVisitTime(pedido) && pedido['sv_is_done']==0">
                  DECORRER
                </ion-card-subtitle>
              </div>

              <div *ngIf="setVisitTime(pedido) && pedido['sv_is_done']!=0" id="state_entity">
                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido['st_host_is'] && !pedido['st_host_is_cancel']
                    "
                    color="medium"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_host_is'] === false &&
                      !pedido['st_host_is_cancel']
                    "
                    color="medium"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_host_is'] === null &&
                      !pedido['st_host_is_cancel']
                    "
                    color="medium"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido['st_host_is_cancel']"
                    color="medium"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido['st_threa_is'] && !pedido['st_threa_is_cancel']
                    "
                    color="medium"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_threa_is'] === false &&
                      !pedido['st_threa_is_cancel']
                    "
                    color="medium"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_threa_is'] === null &&
                      !pedido['st_threa_is_cancel']
                    "
                    color="medium"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido['st_threa_is_cancel']"
                    color="medium"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido['st_core_is'] && !pedido['st_core_is_cancel']
                    "
                    color="medium"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_core_is'] === false &&
                      !pedido['st_core_is_cancel']
                    "
                    color="medium"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_core_is'] === null &&
                      !pedido['st_core_is_cancel']
                    "
                    color="medium"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido['st_core_is_cancel']"
                    color="medium"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>
              </div>

              <div *ngIf="!setVisitTime(pedido) ||  pedido['sv_is_done']==0" id="state_entity">
                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido['st_host_is'] && !pedido['st_host_is_cancel']
                    "
                    color="success"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_host_is'] === false &&
                      !pedido['st_host_is_cancel']
                    "
                    color="danger"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_host_is'] === null &&
                      !pedido['st_host_is_cancel']
                    "
                    color="warning"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido['st_host_is_cancel']"
                    color="danger"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido['st_threa_is'] && !pedido['st_threa_is_cancel']
                    "
                    color="success"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_threa_is'] === false &&
                      !pedido['st_threa_is_cancel']
                    "
                    color="danger"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_threa_is'] === null &&
                      !pedido['st_threa_is_cancel']
                    "
                    color="warning"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido['st_threa_is_cancel']"
                    color="danger"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>

                <ion-card-title>
                  <ion-icon
                    *ngIf="
                      pedido['st_core_is'] && !pedido['st_core_is_cancel']
                    "
                    color="success"
                    name="checkmark-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_core_is'] === false &&
                      !pedido['st_core_is_cancel']
                    "
                    color="danger"
                    name="close-circle"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="
                      pedido['st_core_is'] === null &&
                      !pedido['st_core_is_cancel']
                    "
                    color="warning"
                    name="time"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="pedido['st_core_is_cancel']"
                    color="danger"
                    name="alert-circle"
                  ></ion-icon>
                </ion-card-title>
              </div>
            </div>
            <!-- /STATE -->
          </div>
          <!-- /Right side -->
        </ion-card-header>

      </ion-card>
  
    </span>
  </span>
  
</ion-content>

<ion-progress-bar color="primary" *ngIf="isLoading"  type="indeterminate" reversed="true"></ion-progress-bar>

