<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-button menu="m_pedido"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="curMode === 0" >Dashboard</ion-title>

    <ion-searchbar  *ngIf="curMode === 1" 
      placeholder="Nome do visitante"
      type = "text"
      (ionChange)="onSearchChange($event)"
      debounce="500">
    </ion-searchbar>
    <ion-buttons *ngIf="curMode === 1" slot="end">
      <ion-button (click)="onFilterClick()">
        <ion-icon slot="icon-only" name="color-filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title *ngIf="curMode === 2" >Dados Pessoais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

