<ion-content>
  <!-- Only allow refresher to be active when its done doing the initial loading -->
  <ion-refresher color="light" *ngIf="!this.isInitLoad" slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText=""
    refreshingSpinner="crescent"
    refreshingText="">
  </ion-refresher-content>
  </ion-refresher>

  <!-- When loading for the first time -->
  <span *ngIf="this.isInitLoad">
    <ion-text class="ion-text-center" color="light">
      <i><p>Carregando as <b>vistas em curso</b> . . .</p></i>
    </ion-text>
  </span>

  <!-- When there is no data -->
  <span *ngIf="(!lstDictVisits || lstDictVisits.length < 1) && !this.isInitLoad ">
    <ion-text class="ion-text-center" color="light">
      <i><p>Sem nenhum visita a decorrer</p></i>
    </ion-text>
  </span>

  <span *ngIf="lstDictVisits && !this.isInitLoad">
    <span  *ngFor="let dictGroup of lstDictVisits">

      <ion-list-header *ngIf="dictGroup[0].length" >
        <!-- Quando é normal -->
        <ion-card-title *ngIf="!dictGroup[0][0]['sv_is_ps']"  color="light">
          {{dictGroup[0][0]['sv_company']}} ({{dictGroup.length}})
        </ion-card-title>
        <!-- Quando e para servicos publicos -->
        <ion-card-title *ngIf="dictGroup[0][0]['sv_is_ps']"  color="warning">
          {{dictGroup[0][0]['sv_company']}} ({{dictGroup.length}})
        </ion-card-title>
      </ion-list-header>

      <ion-list-header *ngIf="!dictGroup[0].length" >
        <!-- Normal -->
        <ion-card-title *ngIf="!dictGroup[0]['sv_is_ps']" color="light">
          <ion-icon name="bookmark"></ion-icon>
          {{dictGroup[0]['sv_company']}} ({{dictGroup.length}})
        </ion-card-title>
        <!-- Servicos publicos -->
        <ion-card-title *ngIf="dictGroup[0]['sv_is_ps']" color="light">
          <ion-icon name="bookmark-outline"></ion-icon>
          {{dictGroup[0]['sv_company']}} ({{dictGroup.length}})
        </ion-card-title>
      </ion-list-header>

      <ion-card
        button
        *ngFor="let visit of dictGroup" 
        (click)="onClick(visit)">

        <span class="div_status">
          <div *ngIf="checkVisit(visit) === 1" class="div_status_cool"></div>

          <div *ngIf="checkVisit(visit) === 2" class="div_status_is_done"></div>

          <div *ngIf="checkVisit(visit) === -1" class="div_status_danger"></div>

          <div *ngIf="checkVisit(visit) === 0" class="div_status_outside"></div>
        </span>
        <ion-card-header>
  
          <!-- COLECTIVO -->
          <span *ngIf="visit.length" >
            <ion-label>
              <ion-card-title>
                {{visit[0]['x_fname']}} {{visit[0]['x_lname']}} 
              </ion-card-title>
              <ion-card-subtitle>
                Colectiva 
              </ion-card-subtitle>
              <!-- Normal  -->
              <ion-card-subtitle *ngIf="!visit[0]['sv_is_ps']" >
                {{visit[0]['sv_company']}}
                <span *ngIf="visit[0]['sv_sub_company'] === null">
                  -> {{visit[0]['sv_department']}} 
                </span> 
                <span *ngIf="visit[0]['sv_sub_company'] !== null">
                  -> {{visit[0]['sv_sub_company']}}
                </span>  
              </ion-card-subtitle>
              <!-- Servicos publicos -->
              <ion-card-subtitle *ngIf="visit[0]['sv_is_ps']" >
                {{visit[0]['sv_company']}}
              </ion-card-subtitle>
            </ion-label>
          </span>
  
          <!-- SINGULAR -->
          <span *ngIf="!visit.length" >
            <ion-label>
              <ion-card-title>
                {{visit['x_fname']}} {{visit['x_lname']}} 
              </ion-card-title>
              <ion-card-subtitle>
                Singular 
              </ion-card-subtitle> 
              <!-- Normal -->
              <ion-card-subtitle *ngIf="!visit['sv_is_ps']">
                {{visit['sv_company']}}
                <span *ngIf="visit['sv_sub_company'] === null">
                  -> {{visit['sv_department']}}
                </span> 
                <span *ngIf="visit['sv_sub_company'] !== null">
                  -> {{visit['sv_sub_company']}}
                </span>  
              </ion-card-subtitle>
              <!-- Servicos Publicos -->
              <ion-card-subtitle *ngIf="!visit['sv_is_ps']">
                {{visit['sv_company']}}
              </ion-card-subtitle>
            </ion-label>
          </span>
        

        </ion-card-header>

        
      </ion-card>

    </span>

  </span>


</ion-content>