ion-content{
    width: 100%;
    height: 100%;
    --background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}



.div_content{
    display: flex;
    width: 100%;
    
}

.span_1{
    width: 30%;
    text-align: center;
}

.span_2{
    width: 20%;
    text-align: center;
}
.div_status{
    position: absolute;
    top: -1px;
    width: 100%;
    height: 10px;
}
.div_status_cool{
    background-color:#2dd36f;
    height: 90%;
}

.div_status_danger{
    background-color:#eb445a;
    height: 90%;   
}

.div_status_outside{
    background-color:#ffce00;
    height: 90%;   
}

.div_status_is_done{
    background-color:#808289;
    height: 90%;   
}
