
.b-div{
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    
}

.img{
    background-image: url('../../src/MPDC (1).jpg');
    //background-image: url('../../src/launch.jpg');
    background-size: cover;
    background-position: center top;
    //background-color: whitesmoke;
    width: 200px;
    height: 200px;
    margin: auto;
}

#card-log {
    
    height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

ion-card{
    width:100%;
}


.forgot-item, ion-card-title{
    text-align:center;
}

ion-card-header{
    text-align: center;
}
