<form class="b-div" #logInForm="ngForm" (ngSubmit)="onEntrarclicked(logInForm)">

  <span id="card-log">
    <ion-card >
      <div class="img"></div>
      <!-- <ion-card-title>Trailgate</ion-card-title> -->

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person"></ion-icon>
            Email ou Nº Telemovel
          </ion-label>
          <ion-input
            required
            name="contacto"
            #contacto="ngModel"
            ngModel>
          </ion-input>
        </ion-item>
        <p style="color: red" *ngIf="!contacto.valid && contacto.touched" >
          * Contacto invalido, tente um nº de telemovel ou email vailido!
        </p>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="key"></ion-icon>
            Palavra-Passe
          </ion-label>
          <ion-input
            required
            name="psw"
            type="password"
            #psw="ngModel"
            ngModel>
          </ion-input>
        </ion-item>
        <p style="color: red" *ngIf="!psw.valid && psw.touched" >
          * Palavra-passe invalida, tente uma palavra-passe valida!
        </p>

        <!-- <ion-item lines="none" class="forgot-item" button>
          <ion-label>Contacte-nos</ion-label>
        </ion-item> -->

        <ion-button type="submit" [disabled]="!logInForm.form.valid" color="primary" expand="block" >
          Entrar
        </ion-button>

      </ion-card-content>
    </ion-card>
  </span>

</form>

